{% extends "base.html" %}

{% block body_block %}
    </form>

    <h2 class="form-signin-heading">Sign Up Here</h2>

    <form id="user_form" method="post" action=""
          enctype="multipart/form-data">

        {% csrf_token %}

        <!-- Display each form. The as_p method wraps each element in a paragraph
             (<p>) element. This ensures each element appears on a new line,
             making everything look neater. -->
        <table>
            <tbody>
            {{ user_form.as_table }}
            {{ profile_form.as_table }}
            <tr class="blank_row"></tr>
            <tr><th></th><td><button type="submit" class="btn btn-default">Register</button></td></tr>

            </tbody>

        </table>




{% endblock %}