{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}About{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>About eHealth</h1>
    </div>
    <div>
    <p> The purpose of this application is to help people find out about particular conditions and to save thed
        information that they find into different folders. The application lets people search across two different medical
        sites medline and healthfinder) and the general web (bing). People using the application would like to self-diagnose,
        i.e. given some symptoms find out what are the likely conditions. They would also like to find out information about
        particular conditions, treatments and medicines.</p>

    <h3>API's used</h3>
    <ul>
        <li><a href="http://healthfinder.gov/developer/How_to_Use.aspx">Healthfinder</a> </li>
        <li><a href="https://www.nlm.nih.gov/medlineplus/webservices.html">MedlinPlus</a> </li>
        <li><a href="https://datamarket.azure.com/dataset/bing/search">Bing</a> </li>
    </ul>

    </div>
{% endblock %}
