{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} {{ category_name }} {% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ category_name }}</h1>
    </div>
    {% if public %}
    category if public (click here to make it private)
    {% else %}
    category if private (click here to make it public)
    {% endif %}
    <div>
        {% if category_name %}
            {% if pages %}
                <ul>
                    {% for page in pages %}
                        <li><a href="{{ page.url }}">{{ page.title }}</a> flesch_score {{ page.flesch_score }}, polarity_score {{ page.polarity_score }}, subjectivity_score {{ page.subjectivity_score }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}

            <a href="/category/{{ category_name_slug }}/add_page/">Add a Page</a>
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </div>
{% endblock %}