{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} {{ category_name }} {% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>{{ category_name }}</h1> Created by {{ owner }}
    </div>


    <div>
        {% if category_name %}
            {% if pages %}
                <div class="panel panel-info">
                    <table class="table table-user-information">
                        <tbody>

                        <tr bgcolor="#E8E8E8">
                            <th>Page</th>
                            <th>Summary</th>
                            <th>Readability</th>
                            <th>Polarity</th>
                            <th>Subjectivity</th>
                        </tr>
                        {% for page in pages %}
                            <tr>
                                <td><a href="{% url 'goto' %}?page_id={{ page.id }}">{{ page.title }}</a></td>
                                <td>{{ page.summary }}</td>
                                <td>{{ page.flesch_score }}</td>
                                <td>{{ page.polarity_score }}</td>
                                <td>{{ page.subjectivity_score }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div>
                    <h4>Scores</h4>
                </div>
                <div>
                <ul>
                    <li><strong>Readability:</strong> This score determines the readability of a webpage. The higher
                        the score, the easier the content should be to read and understand.
                    </li>
                    <li><strong>Polarity:</strong> This is the sentiment score of a webpage; how positive or negative it
                        is.
                        A score of 50 is neutral, higher is mostly positive and lower is mostly negative.
                    </li>
                    <li><strong>Subjectivity:</strong> The subjectivity of a webpage, a measure of how factual or
                        opinion based the content is. The higher the score, the more opinion based the content.
                    </li>
                    </ul>
                </div>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
            <br>
            {% if is_owner %}
                <a href="/category/{{ category_name_slug }}/add_page/" class="btn btn-primary" style="float: left">Add a
                    Page</a>
                {% if public %}
                    <form action=" " method="POST">
                        {% csrf_token %}
                        <input type="hidden" value=Fasle name="public"/>
                        <button type="submit" class="btn btn-default">Make category private</button>
                    </form>
                {% else %}
                    <form action=" " method="POST">
                        {% csrf_token %}
                        <input type="hidden" value=True name="public"/>
                        <button type="submit" class="btn btn-default">Make category public</button>
                    </form>
                {% endif %}
            {% endif %}

        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    </div>


{% endblock %}