{% extends 'base.html' %}

{% load staticfiles %}

{% block body_block %}
        {% if not user.is_authenticated %}

    <div>
        Log in to start making categories and saving pages
    </div>
        {%  endif %}

    <div class="page-header">
        <h2>Category search results</h2>

        {% if categories %}
            <form class="navbar-form navbar-left" id="user_form" method="post" action="{% url 'category_search' %}">
                {% csrf_token %}
                <input class="awesomplete form-control" type="text" id="cat" name="query" value="" placeholder="Search categories..." />
                    <script type="text/javascript" src="https://cdn.rawgit.com/LeaVerou/awesomplete/gh-pages/awesomplete.min.js"></script>
                    <script type="text/javascript">
                        var input = document.getElementById("cat");
                        var awesomplete = new Awesomplete(input, {
                            minChars: 1
                        });
                        var cats = [];
                        {% for category in categories %}
                        cats.push("{{ category.name }}")
                        {% endfor %}
                        awesomplete.list = cats;
                    </script>

                    <input class="btn btn-primary" type="submit" name="submit" value="Search"/>
            </form>
        {% endif %}
    <br>
    </div>

    <div id="no cats"></div>
    <div>
        {% if categories %}
            <div class="panel panel-info">
                <table class="table table-user-information">

                    <tr bgcolor="#E8E8E8">
                        <th>Category</th>
                        <th>Owner</th>
                        <th>Total page views</th>
                    </tr>

                    <script>var counter = 0;</script>
                    {% for category in categories %}
                        <tr>
                            {% if query in category.name  %}
                                <td><a href="{% url  'category'  category.slug %}">{{ category.name }}</a></td>
                                <td >{{ category.user }}</td>
                                <td>{{ category.views }}</td>
                                <script>counter++;</script>
                            {% endif %}
                        </tr>
                    {% endfor %}
                <script>if (counter==0){
                    document.getElementById("no cats").innerHTML = "There are no categories with that name";}
                </script>


                </table>
            </div>
            {% else %}
                <strong>No Public categories available.</strong>
            {% endif %}
        <br>
    </div>
{% endblock %}