{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Public categories {% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Public categories</h1>
    </div>


        <div>
            {% if categories %}
                    <div class="panel panel-info">
                    <table class="table table-user-information">

                            <tr bgcolor="#E8E8E8">
                                <th>Category</th>
                                <th>Owner</th>
                                <th>Total page views</th>
                            </tr>
                            {% for category in categories %}
                                <tr>
                                    <td><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></td>
                                    <td >{{ category.user }}</td>
                                    <td>{{ category.views }}</td>
                                </tr>

                            {% endfor %}


                    </table>
                    </div>
                {% else %}
                    <strong>No Public categories avalable.</strong>
                {% endif %}
                <br>
        </div>


{% endblock %}