{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}
    <div class="page-header">
            <ul ><!-- todo make this work -->
                <li>Federated Search</li>
                <li>Bing Search</li>
                <li>Healthfinder Search</li>
                <li>Medlineplus Search</li>
            </ul>
    </div>
    <div>

        <div class="panel">
            {% if result_list %}
                <div class="panel-heading">
                <h3 class="panel-title">Results</h3>
                <!-- Display search results in an ordered list -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for result in federated_results %}
                            <div class="list-group-item">
                                <h4 class="list-group-item-heading"><a
                                        href="{{ result.link }}">{{ result.title }}</a></h4>

                                <p class="list-group-item-text">{{ result.summary }}</p>
                                <p class="list-group-item-text">{{ result.from }}</p> <!-- todo maby hyperlink? -->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
    {% for result in federated_results %}
    {{ result.title }} </br>
    {% endfor %}

{% endblock %}
