{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Search{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1> Search Results</h1>
    </div>
    <div>

        <div class="panel">


            <div class="tabs">
                <ul class="tab-links">
                    <li class="active"><a href="#tab1">Federated Search</a></li>
                    <li><a href="#tab2">Bing Search</a></li>
                    <li><a href="#tab3">Healthfinder Search</a></li>
                    <li><a href="#tab4">Medlineplus Search</a></li>
                </ul>

                <div class="tab-content">
                    <div id="tab1" class="tab active">
                        {% if federated_results %}
                            <div class="panel-heading">
                                <h3 class="panel-title">Federated Search</h3>

                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in federated_results %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a
                                                        href="{{ result.link }}">{{ result.title }}</a></h4>

                                                <p class="list-group-item-text">{{ result.summary }}</p>

                                                <p class="list-group-item-text">{{ result.from }}</p>

                                                {% if user.is_authenticated %}
                                                    <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown" >Add to category
                                                    <span class="caret"></span></button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                        {% for category in user_categories %}
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div id="tab2" class="tab">
                        {% if bing_results %}
                            <div class="panel-heading">
                                <h3 class="panel-title">Bing Search</h3>

                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in bing_results %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a
                                                        href="{{ result.link }}">{{ result.title }}</a></h4>

                                                <p class="list-group-item-text">{{ result.summary }}</p>

                                                <p class="list-group-item-text">{{ result.from }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>

                    <div id="tab3" class="tab">
                        {% if healthFinder_results %}
                            <div class="panel-heading">
                                <h3 class="panel-title">Healthfinder Search</h3>

                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in healthFinder_results %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a
                                                        href="{{ result.link }}">{{ result.title }}</a></h4>

                                                <p class="list-group-item-text">{{ result.summary }}</p>

                                                <p class="list-group-item-text">{{ result.from }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        {% endif %}
                    </div>

                    <div id="tab4" class="tab">
                        {% if medlinePlus_results %}
                            <div class="panel-heading">
                                <h3 class="panel-title">Medlineplus Search</h3>

                                <div class="panel-body">
                                    <div class="list-group">
                                        {% for result in medlinePlus_results %}
                                            <div class="list-group-item">
                                                <h4 class="list-group-item-heading"><a
                                                        href="{{ result.link }}">{{ result.title }}</a></h4>

                                                <p class="list-group-item-text">{{ result.summary }}</p>

                                                <p class="list-group-item-text">{{ result.from }}</p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
