{% extends 'base.html' %}

{% load staticfiles %}


{% block body_block %}

    pic</br>
    <ul>
        <!-- todo make pritty -->
        <li>Username:       {{ username }}</li>
        <li>Date Of Birth:  {{ dob }}</li>
        <li>Profession:     </li>
        <li>Gender:         {{ gender }}</li>
        <li>Email:          {{ email }}</li>

                <a href="{%  url 'add_category' %}"> add catagory</a><br/>
    </ul>
    {% if all_caegories %}
        <ul>
        {% for cat in all_caegories %}
                   <!-- todo  fix ( {'s removed for testing)
                   <li><a href="% url 'category' category.slug %}">{ category.name }}</a></li>
                   -->
                <li>{{ category.name }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}