{% extends 'base.html' %}

{% load staticfiles %}


{% block body_block %}
    <!-- todo use { % media %} tag -->



    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">{{ username }}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"><img src="../media/profile_images/{{ username }}"
                                                                    width="200" height="200"
                                                                    onerror="this.onerror=null;this.src='{% static "images/defultImage.jpg" %}'"
                                                                    alt="Picture of a thing"/></div>
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>

                        <tr>
                            <td>Date of Birth:</td>
                            <td>{{ dob }}</td>
                        </tr>

                        <tr>
                            <td>Gender:</td>
                            <td>{{ gender }}</td>
                        </tr>

                        <tr>
                            <td>Email:</td>
                            <td>{{ email }}</td>
                        </tr>

                        <tr>
                            <td><a href="{% url 'update_username' %}">Change username</a></td>
                            <td><a href="{% url 'update_email' %}">Change Email</a></td>
                        </tr>

                        <tr>
                            <td><a href="{% url 'update_password' %}">Change Password</a></td>
                            <td><a href="{% url 'update_picture' %}">Change Picture</a></td>
                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Categories</h3>
            <a href="{% url 'add_category' %}">add category</a>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 ">
                    <table>
                        <tbody>
                        {% if all_categories %}
                            {% for cat in all_categories %}
                                <tr>
                                    <td><a href="{% url 'category' cat.slug %}">{{ cat.name }}</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}