{% extends 'base.html' %}

{% load staticfiles %}


{% block body_block %}

    pic</br>
    <ul>
        <!-- todo make pretty -->
        <li>Username:       {{ username }}</li>
        <li>Date Of Birth:  {{ dob }}</li>
        <li>Profession:     </li>
        <li>Gender:         {{ gender }}</li>
        <li>Email:          {{ email }}</li>

                <a href="{%  url 'add_category' %}"> add category</a><br/>
    </ul>
    {% if all_categories %}
        <ul>
        {% for cat in all_categories %}
            <li><a href="{% url 'category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}